In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("project/shared_volume/input/labelling_questions_cleared_pogier.xlsx")
df = df[['puid', 'y_kbins', 'y_kmeans' ,'cluster_id']]
df.to_csv('project/shared_volume/staging/X_cluster.csv', index=False, encoding='utf-8', sep=',')

In [4]:
df.head()

            puid  y_kbins  y_kmeans  cluster_id
0  420723-420724        9         7         143
1  561233-561234        8         7         127
2  403760-403762        8         7         127
3  561742-561743        8         7         127
4    85076-85078        8         7         127